alembic==1.15.2
faiss-cpu==1.10.0
Flask==2.3.2
Flask-Bcrypt==1.0.1
Flask-Bootstrap==3.3.7.1
Flask-Login==0.6.3
Flask-Migrate==4.1.0
mediapipe==0.10.21
numpy==1.26.4
pytest==8.3.5
sentence-transformers==4.0.1
SQLAlchemy==2.0.40
WTForms==3.2.1
